{% extends 'base.html' %}

{% block title %}Agregar Local{% endblock %}

{% block content %}
<div class="container">
    <h1>Agregar Local</h1>
    <form method="POST" action="{{ url_for('agregar_local') }}">
        <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" class="form-control" id="nombre" name="nombre" required>
        </div>
        <div class="form-group">
            <label for="direccion">Dirección:</label>
            <input type="text" class="form-control" id="direccion" name="direccion" required>
        </div>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form>
    <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Volver al Dashboard</a>
</div>
{% endblock %}