{% extends 'base.html' %}

{% block title %}Agregar Producto{% endblock %}

{% block content %}
    <div class="container">
        <h1>Agregar Producto</h1>
        <form method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" name="precio" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" name="stock" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="local_id">Local:</label>
                <select name="local_id" class="form-control">
                    {% for local in locales %}
                    <option value="{{ local[0] }}">{{ local[1] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción:</label>
                <textarea name="descripcion" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="imagen">Imagen:</label>
                <input type="file" name="imagen" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-success">Agregar</button>
        </form>
    </div>
{% endblock %}