{% extends 'base.html' %}

    {% block title %}Agregar Productos{% endblock %}

    {% block content %}
    <div class="container">
        <h1>Agregar Productos</h1>

        <form method="POST" action="{{ url_for('agregar_producto') }}">
            <div class="form-group">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre" class="form-control">
            </div>
            <div class="form-group">
                <label for="precio">Precio:</label>
                <input type="number" name="precio" id="precio" class="form-control">
            </div>
            <div class="form-group">
                <label for="stock">Stock:</label>
                <input type="number" name="stock" id="stock" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Agregar Producto</button>
        </form>
        <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Volver al Dashboard</a>
    </div>
    {% endblock %}